@import "tailwindcss";

@utility flex-center {
  align-items: center;
  justify-content: center;
}

@layer utilities {
  .primaryBG {
    background: #4d6bfe;
  }
  .primaryColor {
    color: #4d6bfe;
  }
}
